<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>




<!-- <a href="Ask_URL">nouvelle question</a> -->


 <%= @question %>


 <%=  @coachanswer %>

 <%= link_to "ask a new question", ask_path %>
